/* #######
  Others
####### */

.header
  padding-bottom: 5px
  margin-bottom: 40px
  margin-top: 70px
  border-bottom: 1px solid #eee;


.poll
  margin: 30px 40px
  padding: 15px 20px
  border-left: 3px solid #464040
  border-right: 3px solid #464040
  box-shadow: 0 2px #ddd


.question-form
  margin-top: 20px
  margin-bottom: 20px
  padding: 10px 0 0 10px
  border: none

  border-bottom: solid 2px #c9c9c9
  transition: border 0.3s

  width: 100%


.question-form:focus
  border-bottom: solid 2px #0f0f0f
  outline: none


.availablePoll
  padding: 15px 10px
  border-radius: 4px
  border: 1px solid #ddd
  margin-bottom: 10px

.placement
  position: relative
  //left: 50px
  bottom: 25px
  float: right
  margin 0 5px

.questionTitle, .pollTitle, .multi1, .single1
  width: 100%
  padding: 1px 5px
  margin: 2px 0

/*
  width 100%*/
