extends templates/layout

block append head
    //Load jquery
    script(src='js/jquery/jquery-3.1.1.min.js')

    script(src='js/rtvs.min.js')

block content
    div.container
        h1.header Create Poll


        //
            div.poll
                form.poll-form(method='POST', action='/create')
                    input.question-form(type='text', placeholder='Enter Poll Title')
                    br
                    input.question-form(type='text', placeholder='Enter Question')
                br



        //
            button.btn.btn-primary +++

            br

            button.btn.btn-primary New Question

            br

        br
        br


        form
            | Poll Title:
            input(type='text', name='pollTitle', placeholder='Enter poll title here')
            br
            br

            h3.header Question
            input(type='text', name='question1', placeholder='Enter question here')
            br
            br
            | Choose question type
            select.type1#type1(name='type1')
                option(value='1') Multiple Choice
                option(value='2') Single Choice
                option(value='3') Text Area

            div.xxx1#xxx1
                span.changeMe Untouched
                br
                span.changeMe Untouched


