extends templates/layout

block content
    div.container

        h1.header Create Poll

        form(action='/store', method='POST')
            | Poll Title:
            br
            input.pollTitle(type='text', name='pollTitle', placeholder='Enter poll title here')

            h3.header Question
            | Question Title:
            br
            input.questionTitle(type='text', name='question1', placeholder='Enter question here')
            br
            br
            | Choose question type:
            select.type1#type1(name='type1')
                option(value='1') Multiple Choice
                option(value='2') Single Choice
                option(value='3') Text Area

            input#type00(type='hidden', name='selected00', value='multi')

            div.xxx1#xxx1

                br

                div.inner1
                    input.multi1(type='text', name='multi00', placeholder='Enter text for checkbox here')
                    br
                    input.multi1(type='text', name='multi01', placeholder='Enter text for checkbox here')
                    br
                    input.multi1(type='text', name='multi02', placeholder='Enter text for checkbox here')
                    br
                    input.multi1(type='text', name='multi03', placeholder='Enter text for checkbox here')

                    input(type='hidden', name="hiddenType1", value='multi')
            br

            input(type='submit', value='Create Poll')


    //Load necessary javascript
    script(src='js/jquery/jquery-3.1.1.min.js')
    script(src='js/rtvs.min.js')