extends templates/layout

block append head
    //Load jquery
    script(src='js/jquery/jquery-3.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js')

block content
    br
    br

    h2 Testing...

    ul#ultest
        li xxx


    span#test ölaksdjfö

    ul#ul
        li xx

    button#senden Klick




    //script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='/js/socket.js')
