extends templates/layout

block content
    div.container
        if(err==0)
            div(class='alert alert-success', role='alert')= msg
        else
            div(class='alert alert-danger', role='alert')= msg