.header{
    padding-bottom: 5px;
    margin-bottom: 40px;
    margin-top: 70px;
    border-bottom: 1px solid #eee;
}

.poll{
    margin: 30px 40px;
    padding: 15px 20px;
    border-left: 3px solid #464040;
    border-right: 3px solid #464040;

    box-shadow: 0 2px #ddd;
}

.question-form{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0 0 10px;
    border: none;

    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;

    width: 100%;
}

.question-form:focus{
    border-bottom: solid 2px #0f0f0f;
    outline: none;
}

/* #######
    Fonts
####### */
@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

body{
    font-family: 'Roboto Regular', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Medium', sans-serif;
}